<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Kpass</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'staticuser/img/favicon.png' %}" rel="icon">
  <link href="{% static 'staticuser/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link href="{% static 'staticuser/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'staticuser/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'staticuser/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'staticuser/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'staticuser/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'staticuser/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'staticuser/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.11.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href=" " class="logo d-flex align-items-center">
        <img src="{% static 'staticuser/img/logo.png' %}" alt="">
        <span>Kpass</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% if request.user.is_authenticated %}
          <li><a class="nav-link scrollto" href="#contact">Hello {{request.user}}</a></li>
          <li><a class="getstarted scrollto" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
       
    </div>
    
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Get Your KSRTC pass or IRCTC season Ticket Effortless</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">The complete platform to apply for KSRTC student pass or IRCTC season ticket</h2>
          {% if request.user.is_authenticated %}
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Go to Profile</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          {% else %}
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/register" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'staticuser/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->



  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Get Notified</h4>
            <p>Get the latest Update and procedures Subscribe here by Mail ID</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{% static 'staticuser/img/logo.png' %}" alt="">
              <span>Kpass</span>
            </a>
            <p>Kpass is an online platform for students to apply for the “Kerala state RTC” student pass and for people seeking to get the IRCTC season pass. This online platform consists of all the procedures to apply for these.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">KSRTC Pass</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">IRCTC season ticket</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Virtual pass</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Route mapping</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Bus and Train Listing</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              Kerala State RTC <br>
              Thiruvandram Kerala<br>
              India <br><br>
              <strong>Phone:</strong> +91 7594833983<br>
              <strong>Email:</strong> info@kpass.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Kpass</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
          Designed by <a href="#">Noel S J</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'staticuser/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'staticuser/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'staticuser/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'staticuser/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'staticuser/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'staticuser/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'staticuser/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'staticuser/js/main.js' %}"></script>

</body>

</html>