<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <title>
          Kpass Register
      </title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginRegisterStyle.css'%}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form method="POST" action="#">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            {{form.first_name}}
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            {{form.last_name}}
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            {{form.email}}
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            {{form.mobile}}
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            {{form.password1}}
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            {{form.password2}}
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

  <script>

  </script>
</body>
</html>
