<!-- Card Body -->
<div class="card-body">
  <div class="chart-pie pt-4 pb-2">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
              <tr>
                  <th>Subscription Time</th>
                  <th>Subscription Name</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                  <th>Subscription Time</th>
                  <th>Subscription Name</th>
                  <th>Action</th>
              </tr>
          </tfoot>
          <tbody>
              {% for i in bus_sub_time %}
              <tr>
                  <td>{{i.sub_time}}</td>
                  <td>{{i.sub_name}}</td>
                  <td><a href="{% url 'bustimeedit' i.id %}"><img style="width:30px;" src="{% static 'edit.png' %}"></a>
                      <a href="{% url 'deletebustime' i.id %}"><img style="width:30px;" src="{% static 'delete.png' %}"></a></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <div class="mt-4 text-center small">
      <span class="mr-2">
          <i class="fas fa-circle text-primary"></i> Direct
      </span>
      <span class="mr-2">
          <i class="fas fa-circle text-success"></i> Social
      </span>
      <span class="mr-2">
          <i class="fas fa-circle text-info"></i> Referral
      </span>
  </div>
</div>
</div>
</div>
</div>
