<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <title>
          Kpass Register
      </title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginRegisterStyle.css'%}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration
      <a  href="{% url 'home' %}" style = "float: right;"><img style="height:18px;" src="{% static 'close.png' %}"></a>

    </div>
    <div class="content">
      <form method="POST" action="#">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            {{form.first_name}}
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            {{form.last_name}}
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            {{form.email}}
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            {{form.mobile}}
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            {{form.password1}}
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            {{form.password2}}
          </div>
          <div>
            <span class="details"><br>Are you a Student?</span>
            {{form.is_student}}
          </div>
          <div>
            <span class="details">School Name</span>
            <span style="height:300px;"><br>{{form.school_name}}</span>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        {{form.errors}}
        Already have an Account 
        <a href='/login/'>Click Here
      </form>
    </div>
  </div>

  <script>

  </script>
</body>
</html>